<h2>Welcome Back !</h2>


<div class="container profile">
  <div class="user-info">
    <!-- <img src="" alt=""> -->
  </div>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My DIYs</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Favorites</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <% if(listOfDiys.length === 0){ %>
        <h3> You don't have any DIYs yet.</h3>
        <a href="/diys/new"> Add your First DIY</a>
      <% } %>

      <%listOfDiys.forEach((aDIY) => {%>
        <div class="projects-wrapper">
            <div class="project">
              <img src="<%= aDIY.diyFinalImg %>"/>
              <h3><%= aDIY.title %></h3>
              <p><%= aDIY.description %></p>
              <button class="btn btn-success"><a href="/diys/<%= aDIY._id %>">DETAILS <i class="glyphicon glyphicon-list"></i></a></button>
              <button class="btn btn-success"><a href="/diys/<%= aDIY._id %>/edit">EDIT <i class="glyphicon glyphicon-pencil"></i></a></button>
              <form method="post" action="/diys/<%= aDIY._id %>/delete">
                <button> Delete </button>
              </form>
              <div class="clearfix">
              </div>
            </div>
        </div>
      <%})%>
    </div>




    <div role="tabpanel" class="tab-pane fade" id="profile">
      <div class="diy">
        <img src="/images/sample-img.png"/>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

</div>
