<h2>Welcome Back !</h2>


<div class="container profile">
  <div class="user-info">
    <!-- <img src="" alt=""> -->
  </div>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My DIYs</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Favorites</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <% if(listOfDiys.length === 0){ %>
        <h3> You don't have any DIYs yet.</h3>
        <button class="btn btn-success"><a href="/diys/new">Create A DIY</a></button>
      <% } %>

      <%listOfDiys.forEach((aDIY) => {%>
        <div class="projects-wrapper">
            <div class="project">
              <img src="<%= aDIY.diyFinalImg %>"/>
              <h3><%= aDIY.title %></h3>
              <p><%= aDIY.description %></p>
              <button class="btn btn-success"><a href="/diys/<%= aDIY._id %>">DETAILS <i class="glyphicon glyphicon-list"></i></a></button>
              <button class="btn btn-success"><a href="/diys/<%= aDIY._id %>/edit">EDIT <i class="glyphicon glyphicon-pencil"></i></a></button>
              <form method="post" action="/diys/<%= aDIY._id %>/delete">
                <button class="btn btn-danger"> Delete <i class="glyphicon glyphicon-remove"></i></button>
              </form>
              <div class="clearfix">
              </div>
            </div>
        </div>
      <%})%>
    </div>




    <div role="tabpanel" class="tab-pane fade" id="profile">
      <div class="diy">
        <img src="images/macaramewatch.jpg"/>
        <h3>DIY Macrame Watch Strap</h3>
        <p>The macrame trend is in full force, and it shows no sign of slowing down. This traditional craft can be used to make everything from macrame plant hangers to mini macrame jewelry. For a useful project, why not make a watch strap? It's fashionable, functional, and totally unique. You can even use it to replace an old strap on a well-loved watch. Here's how to make it happen.</p>
      </div>
    </div>
  </div>

</div>
