  <h2>Main Title: <%= diyInfo.title %></h2>
  <p> Description: <%= diyInfo.description %></p>
  <p><img src="<%= diyInfo.diyImg%>"</p>


<ol>
<% diyInfo.steps.forEach((diyInfo) => { %>
  <li>
    <h3><%= diyInfo.stepTitle %></h3>
    <p><%= diyInfo.stepDesc %></p>
    <img src= "/uploads/<%= diyInfo.stepImage %>"/>
  </li>
<% }) %>
</ol>
