<div class="container detail">

  <h2><%= diyInfo.title %></h2>
  <div class="well">
    <p><%= diyInfo.description %></p>
    <p><img src="<%= diyInfo.diyFinalImg%>"</p>
  </div>


  <ol>
  <% diyInfo.steps.forEach((diyInfo) => { %>
    <li class="well">
      <h3><%= diyInfo.stepTitle %></h3>
      <p><%= diyInfo.stepDesc %></p>
      <img src= "<%= diyInfo.stepImage %>"/>
    </li>
  <% }) %>
  </ol>
</div>

<a class="test" href="/diys/<%= diyInfo._id %>/reviews/new">
  Review This DIY
</a>

<h3> Reviews </h3>

<ul>
  <% diyInfo.reviews.forEach((oneReview) => { %>
    <li>
      <span> <%='⭐️'.repeat(oneReview.stars)%> </span>

      <p> <%= oneReview.content %> </p>

      <b> <%= oneReview.author %> </b>
    </li>
  <% }); %>
</ul>
